{% extends 'head.jinja2' %}

{% block body %}
    <p class="h2">Это решение бонусного домашнего задания по SQL от @mikkerlo.</p>
    <p class="lead">Для навигации пользуйтесь НавБаром </p>
{% endblock %}

